NEXT_PUBLIC_API_BASE_URL=https://barberagency-n8n.gymh5g.easypanel.host
NEXT_PUBLIC_API_URL=https://barberagency-n8n.gymh5g.easypanel.host
NEXT_PUBLIC_APP_URL=https://app.tu-dominio.com
NEXT_PUBLIC_SESSION_ME_ENDPOINT=https://barberagency-n8n.gymh5g.easypanel.host/webhook/barberagency/session/me
NEXT_PUBLIC_DASHBOARD_STATE_ENDPOINT=/webhook/barberagency/dashboard/state
NEXT_PUBLIC_DRAFT_SAVE_ENDPOINT=/webhook/barberagency/landing/draft/save
NEXT_PUBLIC_PUBLISH_ENDPOINT=/webhook/barberagency/landing/save-v2
NEXT_PUBLIC_TEST_BARBERIA_SLUG=barberia-58
NEXT_PUBLIC_TEST_BARBERIA_ID=101

# Variables privadas del servidor (Server-only)
DASHBOARD_RECOVER_REQUEST_ENDPOINT=
DASHBOARD_RECOVER_RESET_ENDPOINT=

